<div class="text-center">
  <%= link_to "Classic rails index page", quotes_path %>
  <br>
  <%= link_to "React rails index page", "/quotes-react" %>
  <br>
  <%= link_to "Rails API index page", "/api/v1/quotes" %>
</div>
