*, *:before, *:after{
    margin: 0;
    padding: 0;
    direction: ltr;
    box-sizing: border-box;
}
html{
  font-size: 16px;
  line-height: 1.8;
}
.quote{
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  width: 80%;
  margin:20px auto;
  border: 1px solid #ddd;
  padding: 10px;
}
.quote p {
    text-rendering: optimizeLegibility;
}
.quote blockquote {
    border-radius: 3px;
    position: relative;  /*  <--- */
    font-style: italic;
    text-align: center;
    padding: 1rem 1.2rem;
    width: 80%;  /* create space for the quotes */
    color: #4a4a4a;
    margin: 1rem auto 2rem;
    color: #4a4a4a;
    background: #E8E8E8;
}
/* -- create the quotation marks -- */
.quote blockquote:before,
.quote blockquote:after{
    font-family: FontAwesome;
    position: absolute;
    /* -- inside the relative position of blockquote -- */
    top: 13px;
    color: #E8E8E8;
    font-size: 17px;
}
.quote blockquote:before{
    content: "\f10d";
    margin-right: 13px;
    right: 100%;
}
.quote blockquote:after{
    content: "\f10e";
    margin-left: 13px;
    left: 100%;
}

.avatar-large {
  width: 50px;
  // border-radius: 50%;
  margin-right: 15px;
}

.avatar-author-book {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  font-size: 13px;
}
